@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{font-family: 'Roboto', sans-serif;}

.container{
	width: 1200px;
	margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-3{
    max-width: 33.33%;
    flex: 1 0 33.33%;
    padding: 15px;
    box-sizing: border-box;
}

img{
	max-width: 100%;
}

header{
    border-bottom: 2px solid #3b506c1c;
}

header .row{
    align-items:center;
}

.logo{flex-basis: 20%;
    max-width: 20%;
}

.logo a{}

.logo a img{}

nav{
    flex-basis: 80%;
    max-width: 80%;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

nav ul li{}

nav ul li a{
    color: #3b506c;
    padding: 20px 15px;
    display: block;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

nav ul li a:hover{}

.banner-section{
	padding: 50px 0;
}

.content{
    text-align: center;
    padding: 0 200px;
}

.content h1{
    font-size: 55px;
    color: #3b506c;
}

.content h1 span{
    display: block;
    color: #0c66ff;
}
.content img{
    max-width: 500px;
}
.content p{font-size: 19px;max-width: 800px;margin: 20px auto;font-weight: 300;color: #3b506cdb;}


.feature-section{}
.feature-section .row{
	justify-content: center;
}
.feature-content{}

.feature-content h2{
    font-size: 45px;
    color: #162c48;
    line-height: 1;
}
.feature-content h2 span{
    color: #F15767;
}
.text-right{
	text-align: right;
}
.feature-content p{
    color: #3b506cdb;
    font-size: 19px;
    font-weight: 400;
}

.blog-section{}
.post{}
.illustration-5{}
.illustration-6{}@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{font-family: 'Roboto', sans-serif;}

.container{
	width: 1200px;
	margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-3{
    max-width: 33.33%;
    flex: 1 0 33.33%;
    padding: 15px;
    box-sizing: border-box;
}

img{
	max-width: 100%;
}

header{
    border-bottom: 2px solid #3b506c1c;
}

header .row{align-items:center;}

.logo{flex-basis: 20%;max-width: 20%;}

.logo a{}

.logo a img{}

nav{
    flex-basis: 80%;
    max-width: 80%;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

nav ul li{}

nav ul li a{
    color: #3b506c;
    padding: 20px 15px;
    display: block;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

nav ul li a:hover{color: #0c66ff;}

.banner-section{
	padding: 50px 0;
}

.content{
    text-align: center;
    padding: 0 200px;
}

.content h1{
    font-size: 55px;
    color: #3b506c;
}

.content h1 span{
    display: block;
    color: #0c66ff;
}
.content img{
    max-width: 500px;
}
.content p{font-size: 19px;max-width: 800px;margin: 20px auto;font-weight: 300;color: #3b506cdb;}


.feature-section{}
.feature-section .row{
	justify-content: center;
}
.feature-content{}

.feature-content h2{
    font-size: 50px;
    color: #162c48;
    line-height: 1;
}
.feature-content h2 span{
    color: #F15767;
}
.text-right{
	text-align: right;
}
.feature-content p{
    color: #3b506cdb;
    font-size: 19px;
    font-weight: 400;
    margin: 5px auto;
}

.blog-section{
    padding: 50px 0;
}

.post{
    text-align: center;
    padding: 60px 30px;
    box-shadow: 0 0 4px #00000038;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.post:hover{
    text-align: center;
    padding: 60px 30px;
    box-shadow: 0 0 0 #00000038;
    border-radius: 4px;

}

.illustration-5{
    background-color: #FDEBED;
}
.illustration-6{
    background-color: #EBF9F4;
}
.illustration-7{}
.post h3{}
.post p{}
.post img{}

footer{}
footer p{}
footer p span{}



.illustration-7{
    background-color: #FFF7E8;
}
.post h3{
    color: #3b506cdb;
    font-size: 24px;
    font-weight: 800;
    margin: 5px auto;
    line-height: 1;
}
.post p{
    color: #3b506cdb;
    font-size: 19px;
    font-weight: 400;
}
.post img{
    max-height: 160px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

footer{
    background-color: #0c66ff;
    padding: 30px 0;
    text-align: center;
}
footer p{
    color: #ffffff94;
}

footer p strong{
	letter-spacing: 3px;
	color: #fff;
}


